body{
font-family:Arial;
background:#020617;
color:white;
text-align:center;
padding:50px;
}

.box{
background:#0f172a;
padding:40px;
border-radius:10px;
max-width:500px;
margin:auto;
}

.progress{
margin-top:20px;
}

.step{
background:#1e293b;
padding:10px;
margin:10px 0;
border-radius:5px;
}