body{
background:#0f172a;
font-family:Arial;
display:flex;
align-items:center;
justify-content:center;
height:100vh;
color:white;
}

.login-container{
background:#1e293b;
padding:40px;
border-radius:10px;
text-align:center;
width:300px;
}

input{
display:block;
width:100%;
margin:10px 0;
padding:10px;
border:none;
border-radius:5px;
}

button{
width:100%;
padding:10px;
background:#38bdf8;
border:none;
color:white;
border-radius:5px;
cursor:pointer;
}

button:hover{
background:#0ea5e9;
}

#error{
color:red;
margin-top:10px;
}